@import "bootstrap/scss/bootstrap";

.content {
  margin: 20px 50px;
  height: 65%;
}

@include media-breakpoint-up(sm) {
  .content {
    margin: 20px 50px;
    height: 73%;
  }
}
@include media-breakpoint-up(md) {
  .content {
    margin: 20px 50px;
    height: 80%;
  }
}
@include media-breakpoint-up(lg) {
  .content {
    margin: 20px 50px;
    height: 75%;
  }
}
@include media-breakpoint-up(xl) {
  .content {
    margin: 20px 50px;
    height: 77%;
  }
}
@include media-breakpoint-up(xxl) {
  .content {
    margin: 20px 50px;
    height: 87%;
  }
}
